<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/bill.css" type="text/css">
	<link rel='icon' href='/icon.png' />
	<title>Epicerie</title>
</head>

<body style="background-image:url(/images/b5.jpg)" center center fixed>
	<div class="content" id="printable">
		<h1>Epicerie</h1>
		<div class="heading">
			<h2>TAX INVOICE</h2>
		</div>
		<div class="info1">
			<p>
				<b>Name:</b> {{name}}<br>
				<b>Phone:</b> {{phone}}<br>
				<b>Email:</b> {{email}}<br>
				<b>Date:</b> {{date}}<br>
				<b>Time:</b> {{time}}<br>
			</p>
		</div>
		<hr>
		<div class="trip">
			<h2>TRIP DETAILS</h2>
		</div>
		<div class="info2">
			<p>
				<b>Trip ID:</b> {{tripid}}<br>
				<b>City:</b> {{city}}<br>
				<b>Location:</b> {{location}}<br>
				<b>Time Slot:</b> {{timeslot}}<br>
				<b>Number of Person:</b> {{persons}}<br>
				<b>Table:</b> {{tablename}}<br>
				<b>Games:</b> {{games}}<br>
			</p>
		</div>
		<hr>
		<div>
			<table class="table">
				<tr>
					<th>Description</th>
					<th>Price</th>
				</tr>
				<tr>
					<td>Picnic Fare</td>
					<td>INR 5000</td>
				</tr>
				<tr>
					<td>Table Set-Up</td>
					<td>INR {{tprice}}</td>
				</tr>
				<tr>
					<td>Games</td>
					<td>INR {{sum}}</td>
				</tr>
				<tr>
					<td>Sub Total</td>
					<td>INR {{stotal}}</td>
				</tr>
				<tr>
					<td>SGST</td>
					<td>INR {{sgst}}</td>
				</tr>
				<tr>
					<td>CGST</td>
					<td>INR {{cgst}}</td>
				</tr>
				<tr>
					<th>Total Payable Amount:</th>
					<th>INR {{gtotal}}</th>
			</table>
			<hr>
		</div>
		<form action="/auth/confirmtrip" method="post">
			<div class="go">
				<input type="submit" value='Book My Trip' class="gos">
			</div>
		</form>
		<div class="can">
			<input type="submit" value='Cancel' class="cans">
		</div>
		<br>
	</div>
	<br>
</body>