<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/Overview.css" type="text/css">
  <title>Epicerie</title>
</head>

<body style="background-image:url(/images/b5.jpg)" center center fixed>
  <div class="loc">
    <h1>Welcome to {{city}}!</h1>
  </div>
  <div class="logout">
    <a href="/logout" class="button">Log Out</a>
  </div>
  <img src="/images/login4.png" alt="login" style="width:7%;height7%;" id="png">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="{{img1}}" height="400" width="655">
      <div class="description">
        <span>{{description}}</span>
      </div>
    </div>
    <div class="mySlides fade">
      <img src="{{img2}}" height="400" width="655">
      <div class="description">
        <span>{{description2}}</span>
      </div>
    </div>
    <div class="mySlides fade">
      <img src="{{img3}}" height="400" width="655">
      <div class="description">
        <span>{{description3}}</span>
      </div>
    </div>
    <div class="mySlides fade">
      <img src="{{img4}}" height="400" width="655">
      <div class="description">
        <span>{{description4}}</span>
      </div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <form action="/auth/category" method="post">
    <div class="location">
      <label for="location">Choose Your Location<br></label>
      <select id="locations" name="locationlist">
        <option value="{{loc1}}">{{loc1}}</option>
        <option value="{{loc2}}">{{loc2}}</option>
        <option value="{{loc3}}">{{loc3}}</option>
        <option value="{{loc4}}">{{loc4}}</option>
      </select>
      <div class="sub">
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>
  <div class="menu">
    <a href="#" class="button">Order Some Food</a>
  </div>
  <div class="dec">
    <a href="#" class="button">Set up a Table</a>
  </div>
  <br>
</body>
<script type="text/javascript" src="/js_sheets/Overview.js"></script>

</html>